.HeaderDiv{
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-size: cover;
    
}
body{
    font-family: Helvetica;
}
.Search{
    outline: none;
    border: none;
}



.img1{
    background-image: url("https://media.istockphoto.com/id/585599562/photo/big-new-restaurant.jpg?s=612x612&w=0&k=20&c=M9q7hnXF3toJWo-jsQdKoOP3uHflQ9ZxaKWV7HZttO0=");
    background-size: cover;

}
.img2{
    background-image: url("https://media.istockphoto.com/id/177781861/photo/glass-of-beer-and-beer-taps-in-a-bar.jpg?s=612x612&w=0&k=20&c=JiDo9bbOpczCYUoPKHI6pG1PkUUP_4YeZlAEUAjDs_Q=");
    background-size: cover;
    
}
.img3{
    background-image: url("https://assets.zeezest.com/blogs/PROD_new-restaurants-Mumbai-Banner_1639138900137.jpg");
    background-size: cover;
    
}
.img4{
    background-image: url("https://t3.ftcdn.net/jpg/03/24/73/92/360_F_324739203_keeq8udvv0P2h1MLYJ0GLSlTBagoXS48.jpg");
    background-size: cover;
    
}